<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Accueil</title>
</head>
<body>
    <a id="top"></a>
    <div class="header">
        <a href="/" class="logo-title-container">
            <div class="logo_container">
                <img src="/images/Logo.jpg" alt="logo">
            </div>
            <div class="title">
                <h1>ABIGAIL ERENATI</h1>
                <h2>DESIGNER D'INTERIEUR</h2>
            </div>
        </a>
        <div class="navbar">
            <a href="/aPropos">A PROPOS</a>
            <a href="/projets">PROJETS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
    <div class="container">
        <div class="main-image">
            <img src="/images/salon_lumineux.jpg" alt="Accueil">
        </div>
        <div class="image-grid">
            <div class="image-container">
                <img src="/images/hall_d_entree.jpg" alt="Accueil">
                <div class="image-caption">Paris</div> 
            </div>
            <div class="image-container">
                <img src="/images/double_salon.jpg" alt="Accueil">
                <div class="image-caption">Londres</div> 
            </div>
            <div class="image-container">
                <img src="/images/sdb_V02.jpg" alt="Accueil">
                <div class="image-caption">New York</div> 
            </div>
            <div class="image-container">
                <img src="/images/chambre_moderne.jpg" alt="Accueil">
                <div class="image-caption">Tokyo</div> 
            </div>
            <div class="image-container">
                <img src="/images/sdb.jpg" alt="Accueil">
                <div class="image-caption">Berlin</div> 
            </div>
            <div class="image-container">
                <img src="/images/cuisine_americaine_rouge.jpg" alt="Accueil">
                <div class="image-caption">Madrid</div> 
            </div>
        </div>
    </div>
    <div class="footer" id="footer">
         AE
    </div>
    <script>
        document.getElementById("footer").onclick = function() {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        };
    </script>
</body>
</html>
