<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Contact</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo-title-container">
            <div class="logo_container">
                <img src="/images/Logo.jpg" alt="logo">
            </div>
            <div class="title">
                <h1>ABIGAIL ERENATI</h1>
                <h2>DESIGNER D'INTERIEUR</h2>
            </div>
        </a>
        <div class="navbar">
            <a href="/">ACCUEIL</a>
            <a href="/projets">PROJETS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
    <div class="container_contact">
        <h1>CONTACT</h1>
        <p>Email : abigail@gmail.com</p>
        <p>Tel : +123456789</p>
        <p>Addresse : 123 rue de Paris Aubervilliers</p>
    </div>
    <!--<div class="footerSignature">
        Abigail Erenati
    </div>-->
</body>
</html>
