<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Contact</title>
</head>
<body>
    <div class="header">
        <h1>Abigail Erenati</h1>
        <h2>Designer d'Interieur</h2>
        <div class="navbar">
            <a href="/">Accueil</a>
            <a href="/projets">Projets</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="container">
        <h2>Contact</h2>
        <p>Email: abigail@gmail.com</p>
        <p>Phone: +123456789</p>
        <p>Address: 123 rue de Paris Aubervilliers</p>
    </div>
    <div class="footer">
        &copy; 2024 Abigail Erenati
    </div>
</body>
</html>
