<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Projets</title>
</head>
<body>
    <a id="top"></a>
    <div class="header">
        <div class="logo-title-container">
            <div class="logo_container">
                <img src="/images/Logo.jpg" alt="logo">
            </div>
            <div class="title">
                <h1>ABIGAIL ERENATI</h1>
                <h2>DESIGNER D'INTERIEUR</h2>
            </div>
        </div>
        <div class="navbar">
            <a href="/">A PROPOS</a>
            <a href="/projets">PROJETS</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
    <div class="container_contact">
        <h2>PROJETS</h2>
        <div>
            <img src="/images/project1.jpg" alt="Projet 1">
            <img src="/images/project2.jpg" alt="Projet 2">
            <img src="/images/project3.jpg" alt="Projet 3">
        </div>
    </div>
    <div class="footer" id="footer">
        AE
   </div>
   <script>
       document.getElementById("footer").onclick = function() {
           window.scrollTo({
               top: 0,
               behavior: "smooth"
           });
       };
   </script>
</body>
</html>
